version: "3"
services:
  lazytainer:
    container_name: lazytainer
    image: ghcr.io/vmorganp/lazytainer:master
    environment:
      - VERBOSE=true
    ports:
      - 25565:25565
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock:ro
    labels:
      - "lazytainer.group.minecraft.sleepMethod=stop"
      - "lazytainer.group.minecraft.ports=25565"
      - "lazytainer.group.minecraft.inactiveTimeout=600" # 10 minutes, to allow the server to bootstrap. You can probably make this lower later if you want.
  mc:
    image: itzg/minecraft-server:java8-multiarch
    network_mode: service:lazytainer
    environment:
      EULA: "TRUE"
      TYPE: VANILLA
      VERSION: 1.19
      MEMORY: 6G
    restart: unless-stopped
    labels:
      - "lazytainer.groups=minecraft"
    depends_on:
      - lazytainer
    volumes:
      - /tmp/lazytainerExample/minecraft:/data